
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: grey;">
  <a href="#" class="navbar-brand" style="color: rgb(32, 172, 193); font-weight: 800">Ghost n Stuff</a>
  <div id="navText" class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a href="/sightings" class="nav-link">Sightings
        <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item actve">
        <a href="/create" class="nav-link">Report New</a>
      </li>
      <li class="nav-item active">
        <a href="/map" class="nav-link">Map</a>
      </li>
      <li class="nav-item active">
        <a href="/" class="nav-link" style="font-style: italic;">LogOut</a>
      </li>
    </ul>
    <span class="navbar-text">Welcome</span>
  </div>
</nav>
</body>
</html>

  