<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Car Dealership</title>
</head>
<body>

    <div class="container">
        <h1>Cars Dealer</h1>
        <form action="/sightings" method="POST">
            <div class="for-group">
                Name: <input type="text" name="name" placeholder="Name your creature.." ><br/>
                Location:<input type="text" name="location" placeholder="Where did you see it.."><br/>
                Kind:<input type="text" name="kind" placeholder="ghost, fairy, spirit, etc.."><br/>
                Description:<input type="text" name="description" placeholder="Describe the creature.."><br/>
                Image:<input type="file" name="img"><br/>
                Was it hostile?<input type="test" name="hostile"><br/>
                <input type="submit" value="Report Sighting">
            </div>
            
        </form>
    </div>
</body>
</html>