<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/sightings">home</a>
    <h1>edit</h1>
    <form action="/sightings/<%= creature.id %>/?_methods=PUT " method="POST">
        <%=  creature.name%> 
    </form>
    

</body>
</html>