
.container{
    margin-top: 100px;
    margin-left: 200px;
    align-content: center;
}

.container content, .container aside {
    position: relative;
}

figure {
    width: 100%;
    position: relative;
}

figure img {
    display: block;
    width: 100%;
    height: auto;
}	
figure h2 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50px;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    margin: 0;
}	
figure .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    transition: .6s ease;
}
figure .overlay{
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

figure:hover h2{
    display: none;
}	
figure:hover .overlay {
    display: block;
    height: 100%;
}

/* Sightings */
*.container {
margin: 0 auto;
}
        
.ticker{
    height: 50px;	
    overflow: hidden;
    position: relative;
    background: rgb(228, 45, 45);
    color: gold;
    border: 3px solid rgb(2, 151, 139);
    width: 100%;
    margin-top: 10px;
}
.ticker p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    /* Starting position */
    transform:translateX(100%);
    /* Apply animation to this element */
    animation: ticker 15s linear infinite;
}
/* Move it (define the animation) */
@keyframes ticker {
    0%   {
    transform: translateX(100%); 		
    }
    100% {
    transform: translateX(-100%); 
    }
}
 h5{
    color: red;
 }
img{
    height: 500px;
}